/* RESET */
*{
    margin: 0px ;
    padding: 0px;
    box-sizing: border-box;

}

header{
    height: 90px;
    background-color: #add8e6;
    display: flex;
}

footer{
    height: 600px;
    display: flex;
}

hr{
    color: white;
    border: solid;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;

}

.border-dashed{
    border: dashed black;
}

.larghezza-contenitore{
    width: 1000px;
}

.altezza-contenitore{
    height: 450px;
}


.contenitore-giallo{
    background-color: #daa520;
    height: 50%;
}

.contenitore-blu{
    background-color: #00008b;
    padding: 4rem 0;
}

.contenitore-viola{
    background-color: #ee82ee;
    height: 350px;
    width: 650px;

}

main > .contenitore-bianco,
.contenitore-grigio{
    height: 650px
}

.contenitore-box-colorata{
    padding: 1.5rem 0rem;
}

.contenitore-rosa{
    background-color: #ffc0cb;
    width: 600px;
   
}

.contenitore-azzurro{
    background-color: #1e90ff;
    width: 800px;
    
}

.contenitore-grigio{
    background-color: #d3d3d3;
}

.contenitore-verde{
    background-color: #228b22;
}

.contenitore-nero{
    background-color: black;
    width: 800px;
}

.contenitore-rosso{
    background-color: #f08080;
}

.contenitore-verde{
    background-color: #20b2aa;
}