/* RESET */
*{
    margin: 0px ;
    padding: 0px;
    box-sizing: border-box;

}

header{
    height: 90px;
    background-color: #add8e6;
    display: flex;
}
   

.flex{
    display: flex;
    justify-content: center;
    align-items: center;

}

.border-dashed{
    border: dashed black;
}

.larghezza-contenitore{
    width: 70%;
}

.altezza-contenitore{
    height: 65%;
}


.contenitore-giallo{
    background-color: #daa520;
    height: 50%;
}

.contenitore-blu{
    background-color: #00008b;
    height: 500px;
}

.contenitore-viola{
    background-color: #ee82ee;
    height: 70%;
    width: 55%;
}

.contenitore-bianco{
    height: 500px
}

.contenitore-rosa{
    background-color: pink;
    width: 25%;
   
}

.contenitore-azzurro{
    background-color: azure;
    width: 50%;
    
}